<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather &mdash; Main</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <form>
            <input type="text" placeholder="Məkan daxil edin...">
            <button>Axtar</button>

        </form>
        <br>
        <p id="message-1"></p>
        <p id="message-2"></p>
        <p id="message-3"></p>
        <p id="message-4"></p>
        <p id="message-5"></p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>